{:paths ["src/main"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        com.pitch/uix.core {:mvn/version "0.9.1"}
        com.pitch/uix.dom {:mvn/version "0.9.1"}
        thheller/shadow-cljs {:mvn/version "2.23.3"} 
        no.cjohansen/portfolio {:mvn/version "2023.04.26"}
        binaryage/devtools {:mvn/version "1.0.7"}
        nrepl/nrepl {:mvn/version,"1.0.0"}
        cider/cider-nrepl {:mvn/version "0.30.0"}}
 :aliases 
 {:portfolio
  {:extra-paths ["portfolio"] 
   :main-opts ["-m" "shadow.cljs.devtools.cli" "watch" ":portfolio"]}
  
  :watch
  {:main-opts ["-m" "shadow.cljs.devtools.cli" "watch" ":guis"]}

  :release
  {:main-opts ["-m" "shadow.cljs.devtools.cli" "release" ":guis"]}}}
